* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#split-bg {
    position: fixed;
    top: 0; 
    left: 0; 
    background: rgb(39, 51, 39);
    width: 50%;
    height: 100%;
    padding: 1rem;
    border-radius: 0 80% 0 0;
    z-index: -1; 
}

body {
    background-color: rgba(107, 146, 107, 0.589);
    color: black;
    font-family: Roboto, sans-serif; /* Ensure proper font family */
}

nav {
    display: flex;
    background-color: rgb(39, 51, 39);
    padding: 10px;
    width: 100%;
    align-items: center;
}

.text-center {
    text-align: center;
}

#partner-finder {
    font-size: 25px;
    color: rgba(74, 100, 74, 0.747);
    margin: 0 0 240px 0;
}

h1 {
    font-size: 75px;
    color: rgb(39, 51, 39);
    margin: 50px 0 10px 0;
}

h2 {
    font-size: 45px;
}

h3 {
    font-size: 30px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

#nav-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 25px;
}

#nav-list {
    display: flex;
    padding: 0;
    margin: 0;
}

#picklepal-home {
    text-decoration: none;
    color: rgba(107, 146, 107, 0.589);
    font-size: 40px;
}

#nav-list li {
    display: flex;
    align-items: center;
    /* margin-left: 250px; */
}

#nav-list a {
    color: rgb(255, 255, 255);
    padding: 10px;
}

#nav-list a:hover {
    background-color: rgb(65, 88, 65);
}


form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the form elements */
    margin: 0 auto; /* Center the form horizontally */
    width: 100%; /* Ensure form takes full width of its container */
}

form input,
form button,
form select,
form textarea {
    width: 100%; /* Full width of form container */
    max-width: 400px;
    padding: 15px; /* Space inside input */
    border-radius: 5px; /* Rounded corners */
    border: 1px solid #ccc; /* Border style */
    margin-bottom: 15px; /* Space between form elements */
    font-size: 20px; /* Font size */
    font-family: roboto, sans-serif;
}

form label {
    font-size: 25px; /* Adjusted font size for consistency */
    margin-bottom: 5px; /* Space between label and input */
    display: block; /* Ensure label is on its own line */
    font-family: roboto, sans-serif;
}

form button {
    background-color: rgb(39, 51, 39);
    color: white;
    border: none;
    padding: 15px 18px;
    font-size: 20px; /* Adjusted button font size */
}

form input:focus,
form textarea:focus {
    border-color: rgb(65, 88, 65); /* Highlight border color on focus */
    outline: none; /* Remove default outline */
}

#logout-btn {
    /* margin-right: 40px; */
}

#register-btn, #login-btn {
    font-size: 30px;
    color: white;
    background-color: rgb(39, 51, 39);
    border-radius: 8px;
    margin: 10px;
    padding: 15px 18px;
}

button {
    background-color: transparent;
    color: rgb(107, 146, 107);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 15px;
}

button:hover {
    background-color: rgb(65, 88, 65);
}

.center-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#home-page, .page-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

#profile-page {
    display: flex;
    justify-content: flex-start;
    padding: 20px;
}

.form-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

#social-landing-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: auto;
}

#user-list-box {
    display: flex;
    /* flex-direction: row; */
    /* width: 100%; */
}

.user-list-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.user-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.952);
    width: 100%;
    max-width: 600px;
    margin: 120px;
    padding: 60px 30px;
    border-radius: 10px;
}

div#personal-social-feed {
    max-width: 100%;
}


#profile-landing-container, .form-container, #personal-social-feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(192, 214, 192);
    width: 100%;
    max-width: 600px;
    margin: 120px;
    padding: 60px 30px;
    border-radius: 10px;
}

.profile-details {
    margin: 10px;
    text-align: center;
}

#profile-details-container ul {
    padding: 0;
    list-style: none;
    width: 100%;
    text-align: center;
}

#profile-user-location {
    display: flex;
    align-items: center;
    justify-content: center;
}

#profile-user-location i {
    margin-right: 5px;
}

.fa-message {
    color: rgb(192, 164, 4);
    font-size: 30px;
}


