# Virtual Environment
venv/

# Node Modules
node_modules/

# Python Compiled Files
__pycache__/
*.pyc

# Environment Files
.env

# Log and Cache Files
*.log
*.cache

# boilerplate/ old files
boilerplate/
