{% extends 'base-nav.html' %}
{% block content %}
<section class="flex overflow-hidden flex-col mx-auto w-full bg-white pb-[100px] pt-[100px]">
    <header class="fixed top-0 left-0 right-0 flex overflow-hidden gap-5 justify-between items-end px-5 py-6 w-full text-2xl text-center text-white whitespace-nowrap bg-dark-green h-[100px] z-10">
      <a href="javascript:void(0)" onclick="window.history.back();">
        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/301a99352172e443598727e0754e538d0a6a1a6d1ef532292992e083a9c04209?apiKey=151c931d8a0e4ce6ac7d5b7ceb0c67c4&&apiKey=151c931d8a0e4ce6ac7d5b7ceb0c67c4" class="object-contain shrink-0 aspect-square w-[35px]" alt="PicklePal logo" />
    </a>  
      <h1 class="w-[120px]">picklePal</h1>
      <div class="flex shrink-0 h-[33px] w-[33px]" aria-hidden="true"></div>
    </header>
            <!-- Flash Messages -->
            <div>
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                  <div class="fixed top-0 left-0 right-0 z-50">
                    {% for category, message in messages %}
                      <div class="max-w-xl mx-auto mt-4">
                        {% if category == 'success' %}
                          <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative" role="alert">
                            <strong class="font-bold">Success:</strong>
                        {% elif category == 'danger' %}
                          <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                            <strong class="font-bold">Error:</strong>
                        {% endif %}
                        <span class="block sm:inline">{{ message }}</span>
                      </div>
                    {% endfor %}
                  </div>
                {% endif %}
              {% endwith %}
            </div>

    <main class="flex flex-col w-full py-4 border-b border-gray-600 border-opacity-10 shadow-sm">
      <div class="flex flex-col w-full text-center text-neutral-800">
        <div class="flex gap-2 items-center self-center pr-9 text-2xl mb-2">
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/9a57675ef4560cde77619882b3eeb73a6dec68eb1029a7f0e1799e9174f2341e?placeholderIfAbsent=true&apiKey=151c931d8a0e4ce6ac7d5b7ceb0c67c4" alt="" class="object-contain shrink-0 self-stretch my-auto w-6 aspect-square" />
          <h2 class="self-stretch my-auto">{{ court.name }}</h2>
        </div>
        <p class="text-xs">{{ court.address }}</p>
      </div>
      <figure class="flex flex-col justify-center items-center mt-2 w-full min-h-[224px]">
        <img loading="lazy" src="{{ court.court_image }}" alt="{{court.name}}" class="object-contain max-w-full aspect-[1.74] w-[380px]" />
      </figure>
      {% if court.id != user.home_court_id %}
      <form action="/users/{{ court.id }}" method="POST" class="mx-auto">
        <button class="text-blue-500 text-xs text-center" style="color: #3b82f6">Make This My Home Court</button>
      </form>  
      {% else %}
      <div class="flex items-center px-2 mt-2 max-w-fit text-lg tracking-normal leading-none bg-custom-yellow rounded-lg p-2 mx-auto">
        <p class="text-xs ">Home Court</p>
    </div>      
      {% endif %}
<div class="flex justify-center gap-8 self-center mt-4 max-w-full text-sm font-bold tracking-normal leading-6 text-center text-white whitespace-nowrap w-full">
    <!-- Follow Button  -->
    {% if not already_follows %}
    <form action="/users/following/{{ court.id }}" method="POST">
      <button class="flex items-center justify-center w-[90px] px-2 py-2 rounded-md bg-neutral-800">
        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/ffc49d60068d2a40e34ec4b3e1df189e6edb5b26afc1594bd98ac0f02187768e?placeholderIfAbsent=true&apiKey=151c931d8a0e4ce6ac7d5b7ceb0c67c4" alt="" class="w-3.5 aspect-[0.87]" />
        <span class="ml-1">Follow</span>
    </button>
    </form>
    {% else %}
    <form action="/users/unfollow/{{ court.id }}" method="POST">
      <button class="flex gap-2 justify-center items-center w-[100px] px-3 py-2 rounded-md bg-neutral-800">
          <span>Unfollow</span>
      </button>
  </form>
    {% endif %}
    <!-- Review Button -->
     <form action="/courts/{{ court.id }}/review" method="GET">
    <button class="flex justify-between items-center w-[90px] px-3 py-2 rounded-md bg-neutral-800">
      <span class="flex-1 text-center">Review</span>
      <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/a341dcd427fb6083623106c6e155a2dcd9deeca82ac15da1cd7d326482ae7d87?placeholderIfAbsent=true&apiKey=151c931d8a0e4ce6ac7d5b7ceb0c67c4" alt="" class="w-3.5 aspect-[0.87]" />
  </button>  
  </form>
</div>

    <!-- COURT DETAILS  -->
    <div class="flex justify-center w-full mt-4 text-sm">
      <div class="flex justify-between gap-x-8">
        <div class="flex flex-col items-center bg-light-green rounded-md px-2 py-1 min-w-[75px]">
          <p>{{ court.num_courts }}</p>
          <p>courts</p>
        </div>
        <a href="/courts/{{court.id}}/reviews">
          <div class="flex flex-col items-center bg-light-green rounded-md px-2 py-1 min-w-[75px]">
            <p>{{ court.reviews | length }}</p>
          <p>reviews</p>
        </div>
      </a>
      <div class="flex flex-col items-center bg-light-green rounded-md px-2 py-1 min-w-[75px]">
        <p>{{ avg_rating | round(1) }}</p>
          <p>rating</p>
        </div>
        <div class="flex flex-col items-center bg-light-green rounded-md px-2 py-1 min-w-[75px]">
          <p>{{ court.followers | length }}</p>
          <p>followers</p>
        </div>
      </div>
    </div>
    <!-- EDIT COURT DETAILS  -->
    <div class="flex justify-center mt-4 mb-2">
      <a href="/courts/{{ court.id }}/edit" class="text-blue-500 text-xs"><p>Edit Court Details</p></a>
    </div>
    <!-- AVERAGE PLAYER SKILL  -->
     <!-- <div class="flex flex-row justify-center">
      <p class="text-xs">Average Player Skill</p>
     </div> -->
    </main>
    <!-- REVIEW PREVIEWS  -->
    {% for review in reviews[-3:] %}
    <article class="flex flex-col justify-center items-start px-5 py-2 w-full text-neutral-800 border-b border-light-gray shadow-sm">
        <a href="/users/{{ review.user.id }}">
        <div class="flex items-center w-full">
          <div class="flex gap-3 flex-grow">
              <img loading="lazy" src="{{ review.user.profile_image }}" alt="Profile picture of picklePal" class="object-contain shrink-0 aspect-[1.08] w-[30px]" />
            <div class="flex flex-col my-auto">
              <h2 class="text-sm">{{ review.user.first_name }} {{ review.user.last_name }}</h2>
            </div>
          </div>
        </div>
      </a>
      <div class="flex gap-2 mt-2 text-base tracking-normal leading-relaxed w-full items-start">
        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/4472064661d4d432e1a1a509ff757948c4f7fb489ea860620033c22561b29090?apiKey=151c931d8a0e4ce6ac7d5b7ceb0c67c4&&apiKey=151c931d8a0e4ce6ac7d5b7ceb0c67c4" alt="" class="object-contain shrink-0 w-5 aspect-square" />
        <div>
        <p class="my-auto text-sm">{{ review.rating }}</p>
      </div>
        <div class="w-full pr-20">
        <p class="text-sm break-words">{{ review.content }}</p>
      </div>
      </div>
    </article>
  {% endfor %}
  

    <!-- SEE MORE REVIEWS  -->
     {% if court.reviews %}
      <a href="/courts/{{court.id}}/reviews" class="w-full text-gray-600 text-xs bg-light-gray">
        <div class="flex justify-center pt-2 pb-2">
        <p>See More</p>
    </div>
  </a>
  {% endif %}
    <!-- posts divider  -->
     {% if court.posts %}
    <section class="w-full gap-2 self-stretch px-40 py-2 text-2xl text-center whitespace-nowrap bg-light-green border-b border-gray-600 border-opacity-10 min-h-[48px] text-neutral-800 shadow-sm">
      <h3>Posts</h3>
    </section>
    <!-- POSTS SECTION  -->
     {% for post in posts %}
    <article class="flex overflow-hidden flex-col justify-center w-full text-neutral-800 shadow-sm">
      <div class="flex flex-col p-5 w-full">
        <div class="flex gap-10 justify-between items-start w-full">
          <div class="flex gap-3 items-start min-w-[240px] w-[242px]">
            <img loading="lazy" src="{{ post.user.profile_image }}" alt="User profile picture" class="object-contain shrink-0 aspect-square w-[30px]" />
            <div class="flex flex-col">
              <h4 class="self-start text-base">{{ post.user.first_name }} {{ post.user.last_name }}</h4>
              <p class="text-xs">{{ post.user.city }}, {{ post.user.state }}</p>
            </div>
          </div>
          <p class="text-xs text-right">Skill {{ post.user.skill }}</p>
        </div>
        <p class="mt-5 text-base">{{ post.content }}</p>
        <!-- LIKES AND COMMENTS COUNT  -->
        <div class="flex flex-row justify-between mt-4 max-w-full min-h-0 w-full text-xs text-gray-400" aria-hidden="true"><span>{{ post.likes | length }} likes</span><a href="/posts/{{ post.id }}/comment/list">{{ post.comments | length }} comments</a></div>
      </div>
      <div class="post flex overflow-hidden gap-10 justify-between items-center px-5 w-full text-xs whitespace-nowrap border-t border-b bg-gray-600 bg-opacity-10 border-gray-600 border-opacity-10 min-h-[38px]">
        <button class="like-button flex gap-2.5 self-stretch my-auto w-[50px]" data-post-id="{{ post.id }}" onclick="likePost(this)">
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/8f00393c98e110eecbcd9e54fbd359cb89ea9552e254ce44de0ab4cda883194c?placeholderIfAbsent=true&apiKey=151c931d8a0e4ce6ac7d5b7ceb0c67c4" alt="" class="like-heart object-contain shrink-0 aspect-square w-[18px]" />
          <span class="like-text">{{ 'Like' if post.id not in post_likes else 'Liked' }}</span>
        </button>  
        <a href="/posts/{{post.id}}/comment" class="flex gap-2.5 self-stretch my-auto w-[81px]">
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/3bb0686157f570aa325a48bed77d4fdc4cf7178988d41088def114144b7231f3?placeholderIfAbsent=true&apiKey=151c931d8a0e4ce6ac7d5b7ceb0c67c4" alt="" class="object-contain shrink-0 aspect-square w-[18px]" />
          <span>Comment</span>
        </a>
      </div>
    </article>
    {% endfor %}
    {% endif %}
<!-- ----------------- -->
    <!-- CREATE POST FIXED BUTTON  -->
    <a href="/courts/{{ court.id }}/posts" class="fixed bottom-[120px] left-1/2 transform -translate-x-1/2 z-20">
        <img id="court-post-btn" loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/9ab9f807e49eaaf05d9b03a93bb724b8ffbfa6eca8dac7ada1a55830674774dc?placeholderIfAbsent=true&apiKey=151c931d8a0e4ce6ac7d5b7ceb0c67c4"
             class="object-contain self-stretch my-auto aspect-square w-[55px] cursor-pointer" alt="Add Post Button" />
    </a>   
  </section>
  <script src="/static/js/like-post.js"></script>
{% endblock %}
{% block user_img_src %}{{ user.profile_image }}{% endblock %}