{% extends 'base-nav.html' %}
<meta name="csrf-token" content="{{ form.hidden_tag() | safe }}">
{% block content %}
<section class="flex flex-col h-screen bg-white">
    <!-- TOP NAV -->
    <header class="fixed top-0 left-0 right-0 flex justify-between items-end px-5 py-6 w-full text-2xl text-center text-white bg-dark-green h-[100px] z-10">
        <a href="/home">
            <img loading="lazy" src="static/images/icon-home.png" alt="" class="object-contain w-[30px]" />
        </a>
        <h1 class="w-[200px]">Search Courts</h1>
        <div class="flex h-[35px] w-[35px]"></div>
    </header>

    <!-- Main Content Area -->
    <div class="flex flex-col mt-[120px] mb-[100px] flex-1">
        <!-- Flash Messages -->
        <div class="px-5 py-3">
          {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <div class="fixed top-0 left-0 right-0 z-50">
              {% for category, message in messages %}
                <div class="max-w-xl mx-auto mt-4">
                  {% if category == 'success' %}
                    <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative" role="alert">
                      <strong class="font-bold">Success:</strong>
                  {% elif category == 'danger' %}
                    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                      <strong class="font-bold">Error:</strong>
                  {% endif %}
                  <span class="block sm:inline">{{ message }}</span>
                </div>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}  
      </div>

<!-- SEARCH INPUT FIELDS -->
<div class="flex gap-2.5 px-5 mt-2">
  <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/f6b1d85a640d5498efd484ad756d91fb80b843e09b03715861a5704b299900c4?apiKey=151c931d8a0e4ce6ac7d5b7ceb0c67c4&&apiKey=151c931d8a0e4ce6ac7d5b7ceb0c67c4" alt="" class="object-contain w-[31px]" />
  <div class="flex flex-col grow">
      <label for="location-input" class="sr-only">Location</label>
      <form id="search-form" class="flex items-center">
          <input id="location-input" type="text" class="w-full bg-white min-h-[24px] border-b border-input-gray p-1" placeholder="Find or Add a Court" />
      </form>
  </div>
</div>

        <!-- GOOGLE MAPS -->
        <div class="flex-1 mt-5 w-full bg-gray-200" id="map">
        </div>
    </div>
</section>

<script>
  const csrfToken = "{{ csrf_token }}"; // get csrf directly
</script>

<script
    src="https://maps.googleapis.com/maps/api/js?key={{google_maps_api_key}}&loading=async&libraries=places&callback=initMap"
    async>
</script>

<script>
  const city = "{{ user.city }}";
  const state = "{{ user.state }}";
  const zipCode = "{{ user.zip_code }}";
  const apiKey = "{{ google_maps_api_key }}";
  const courtsData = {{ courts_data | tojson | safe }};
  console.log(courtsData)
</script>

<script src="static/js/main.js"></script>

{% endblock %}
{% block user_img_src %}{{ user.profile_image }}{% endblock %}
