{% extends 'base-nav.html' %} {% block content %}
<section
  class="flex overflow-hidden flex-col mx-auto w-full bg-white pb-[100px] pt-[100px]"
>
  <header
    class="fixed top-0 left-0 right-0 flex overflow-hidden gap-5 justify-between items-end px-5 py-6 w-full text-2xl text-center text-white whitespace-nowrap bg-dark-green h-[100px] z-10"
  >
    <a href="javascript:void(0)" onclick="window.history.back();">
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/301a99352172e443598727e0754e538d0a6a1a6d1ef532292992e083a9c04209?apiKey=151c931d8a0e4ce6ac7d5b7ceb0c67c4&&apiKey=151c931d8a0e4ce6ac7d5b7ceb0c67c4"
        class="object-contain shrink-0 aspect-square w-[35px]"
        alt="PicklePal logo"
      />
    </a>
    <h1 class="w-[120px]">picklePal</h1>
    <div class="flex shrink-0 h-[33px] w-[33px]" aria-hidden="true"></div>
  </header>
  <!-- IF ITS A COMMENT SHOW POST CONTENT ABOVE -->
  {% if post %}
  <!-- POSTS SECTION  -->
  <article
    class="flex overflow-hidden flex-col justify-center w-full text-neutral-800 shadow-sm"
  >
    <div class="flex flex-col p-5 w-full">
      <div class="flex gap-10 justify-between items-start w-full">
        <a href="/users/{{post.user.id}}">
          <div class="flex gap-3 items-start min-w-[240px] w-[242px]">
            <img
              loading="lazy"
              src="{{ post.user.profile_image }}"
              alt="User profile picture"
              class="object-cover rounded-full shrink-0 aspect-square w-[30px]"
            />
            <div class="flex flex-col">
              <h4 class="self-start text-base">
                {{ post.user.first_name }} {{ post.user.last_name }}
              </h4>
              <p class="text-xs">{{ post.user.city }}, {{ post.user.state }}</p>
            </div>
          </div>
        </a>
        <p class="text-xs text-right">Skill {{ post.user.skill }}</p>
      </div>
      <p class="mt-5 text-base">{{ post.content }}</p>
      <!-- LIKES AND COMMENTS COUNT  -->
      <div
        class="flex flex-row justify-between mt-4 max-w-full min-h-0 w-full text-xs text-gray-400"
        aria-hidden="true"
      >
        <span>{{ post.likes | length }} likes</span
        ><a href="/posts/{{ post.id }}/comment/list"
          >{{ post.comments | length }} comments</a
        >
      </div>
    </div>
    <div
      class="post flex overflow-hidden gap-10 justify-between items-center px-5 w-full text-xs whitespace-nowrap border-t border-b bg-gray-600 bg-opacity-10 border-gray-600 border-opacity-10 min-h-[38px]"
    >
      <button
        class="like-button flex gap-2.5 self-stretch my-auto w-[50px]"
        data-post-id="{{ post.id }}"
        onclick="likePost(this)"
      >
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/8f00393c98e110eecbcd9e54fbd359cb89ea9552e254ce44de0ab4cda883194c?placeholderIfAbsent=true&apiKey=151c931d8a0e4ce6ac7d5b7ceb0c67c4"
          alt=""
          class="like-heart object-contain shrink-0 aspect-square w-[18px]"
        />
        <span class="like-text"
          >{{ 'Like' if post.id not in post_likes else 'Liked' }}</span
        >
      </button>
      <a
        href="/posts/{{post.id}}/comment"
        class="flex gap-2.5 self-stretch my-auto w-[81px]"
      >
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/3bb0686157f570aa325a48bed77d4fdc4cf7178988d41088def114144b7231f3?placeholderIfAbsent=true&apiKey=151c931d8a0e4ce6ac7d5b7ceb0c67c4"
          alt=""
          class="object-contain shrink-0 aspect-square w-[18px]"
        />
        <span>Comment</span>
      </a>
    </div>
  </article>
  {% endif %}

  <main class="flex gap-6 justify-center items-center py-3.5 bg-light-green">
    <form
      method="post"
      class="flex gap-2 justify-center items-start self-stretch px-4 my-auto w-[393px]"
    >
      {{ form.hidden_tag() }}
      <img
        loading="lazy"
        src="{{ user.profile_image }}"
        alt="User avatar"
        class="object-contain shrink-0 rounded-full aspect-square w-[40px]"
      />
      <div class="flex flex-1 shrink items-start basis-6">
        <div class="flex flex-col min-h-[99px] w-[233px]">
          <div
            class="flex flex-col flex-1 p-3 w-full bg-white rounded-md border-2 border-light-green border-solid"
          >
            {% for field in form %} {% if field.widget.input_type != 'hidden' %}
            {{ field(class_="flex flex-1 py-2 px-2 w-full min-h-[33px]",
            placeholder=form.content.label.text) }} {% endif %} {% endfor %}
            <div class="flex flex-1 gap-2 items-end mt-2.5 size-full"></div>
          </div>
        </div>
      </div>
      <button
        type="submit"
        class="overflow-hidden gap-2 self-stretch px-3 py-2 text-sm font-bold tracking-normal leading-6 text-white whitespace-nowrap rounded-md bg-dark-green max-h-[40px]"
      >
        {% if court or post or court_id == 0 %}Post{% else %}Report{% endif %}
      </button>
    </form>
  </main>
</section>

<script src="/static/js/like-post.js"></script>

{% endblock %} {% block user_img_src %}{{ user.profile_image }}{% endblock %}
