{% extends 'base-nav.html' %}
{% block content %}

<section class="flex overflow-hidden flex-col mx-auto w-full bg-white pb-[100px] pt-[100px]">
    <!-- TOP NAV  -->
    <header class="fixed top-0 left-0 right-0 flex overflow-hidden gap-5 justify-between items-end px-5 py-6 w-full text-2xl text-center text-white whitespace-nowrap bg-dark-green h-[100px] z-10">
        <a href="/home">
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/539ed51d37d977c20c959d420318ce5243d4e380b02211d551bb885ffa50fd16?apiKey=151c931d8a0e4ce6ac7d5b7ceb0c67c4&&apiKey=151c931d8a0e4ce6ac7d5b7ceb0c67c4" alt="" class="object-contain shrink-0 aspect-square w-[33px]" />
      </a>
        <h1 class="w-[120px]">Friends</h1>
      <div class="flex shrink-0 h-[30px] w-[30px]"></div>
    </header>
    <!-- SEARCH FIELD  -->
    <div class="flex flex-col pr-16 pl-5 mt-5 w-full">
    <form action="/users" method="get">
        <div class="flex gap-3">
          <img loading="lazy" src="static/images/icon-search.png" alt="" class="object-contain shrink-0 my-auto aspect-square w-[30px]" />
          <div class="flex flex-col grow shrink-0 basis-0 w-fit">
            <label for="search-input" class="sr-only">Search</label>
            <input id="search-input" name="search" type="text" placeholder="Search Friends or Users" class="flex mt-1 w-full bg-white min-h-[24px] border-b border-input-gray p-1" />
          </div>
        </div>
    </form>
</div>
    <!-- MESSAGE BLOCKS  -->
     <main>
     {% for friend in friends %}
    <article class="flex flex-col justify-center items-start px-5 py-3 mt-5 w-full min-h-[117px] text-neutral-800 border-b border-light-gray">
        <div class="flex items-center w-full">
          <div class="flex gap-3 flex-grow">
            <a href="/users/{{ friend.id }}">
              <img loading="lazy" src="{{ friend.profile_image }}" alt="Profile picture of picklePal" class="object-cover rounded-full shrink-0 aspect-square w-[50px] h-[50px]" />
            </a>
            <div class="flex flex-col my-auto">
              <h2 class="text-xl">{{ friend.first_name }} {{ friend.last_name }}</h2>
              <p class="mt-2 text-sm">{{ friend.city }}, {{ friend.state }}</p>
            </div>
          </div>
          <a href="#message/<user>" aria-label="message-user" class="object-contain shrink-0 my-auto aspect-square w-[30px] ml-4">
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/ed405be8f8a4c46c924fc095d2a2d67372eeba8259a374b505a72b3a5db88cb0?apiKey=151c931d8a0e4ce6ac7d5b7ceb0c67c4&&apiKey=151c931d8a0e4ce6ac7d5b7ceb0c67c4" alt="message button" />
          </a>
        </div>
        <div class="flex gap-2.5 mt-2.5 max-w-full text-base tracking-normal leading-relaxed w-full items-center">
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/4472064661d4d432e1a1a509ff757948c4f7fb489ea860620033c22561b29090?apiKey=151c931d8a0e4ce6ac7d5b7ceb0c67c4&&apiKey=151c931d8a0e4ce6ac7d5b7ceb0c67c4" alt="" class="object-contain shrink-0 w-6 aspect-square" />
          <p class="my-auto">{{ friend.skill }}</p>
        </div>
      </article>
      {% endfor %}
    </main>
{% endblock %}

{% block user_img_src %}
{{ user.profile_image }}
{% endblock %}
</section>
