{% extends 'base-nav.html' %}
{% block content %}
<section class="flex overflow-hidden flex-col mx-auto w-full bg-white pb-[100px] pt-[100px]">
    <header class="fixed top-0 left-0 right-0 flex overflow-hidden gap-5 justify-between items-end px-5 py-6 w-full text-2xl text-center text-white whitespace-nowrap bg-dark-green h-[100px] z-10">
      <a href="/groups">
      <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/301a99352172e443598727e0754e538d0a6a1a6d1ef532292992e083a9c04209?apiKey=151c931d8a0e4ce6ac7d5b7ceb0c67c4&&apiKey=151c931d8a0e4ce6ac7d5b7ceb0c67c4" class="object-contain shrink-0 aspect-square w-[35px]" alt="PicklePal logo" />
    </a>  
      <h1 class="w-[120px]">picklePal</h1>
      <div class="flex shrink-0 h-[33px] w-[33px]" aria-hidden="true"></div>
    </header>
            <!-- Flash Messages -->
            <div>
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                  <div class="fixed top-0 left-0 right-0 z-50">
                    {% for category, message in messages %}
                      <div class="max-w-xl mx-auto mt-4">
                        {% if category == 'success' %}
                          <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative" role="alert">
                            <strong class="font-bold">Success:</strong>
                        {% elif category == 'danger' %}
                          <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                            <strong class="font-bold">Error:</strong>
                        {% endif %}
                        <span class="block sm:inline">{{ message }}</span>
                      </div>
                    {% endfor %}
                  </div>
                {% endif %}
              {% endwith %}
            </div>
            <!-- MAIN CONTENT  -->
                <main class="flex flex-col w-full">
                  <article class="flex overflow-hidden relative flex-col items-start p-5 w-full border-b border-gray-600 border-opacity-10">
                    <div class="flex z-0 gap-2.5 pr-16 max-w-full w-[350px]">
                      <img loading="lazy" src="{{ group.owner.profile_image }}" alt="Owner Photo" class="object-contain shrink-0 aspect-square w-[50px]" />
                      <div class="flex flex-col my-auto">
                        <h2 class="text-xl">{{ group.name }}</h2>
                        <p class="self-start text-xs">{{ group.owner.city }}</p>
                      </div>
                    </div>
                    <div class="flex absolute z-0 flex-col justify-center items-center text-base tracking-normal leading-relaxed text-center whitespace-nowrap right-[26px] top-[26px] w-[69px]">
                      <p>{{ group.memberships | length }}</p>
                      <p>Members</p>
                    </div>
                    <div class="flex z-0 gap-2.5 mt-5 max-w-full text-base tracking-normal leading-relaxed w-[174px]">
                      <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/2a69f237d8fb1e2dab15a6a3985b42b7a7eacbad8255ece3d628c746394475bf?placeholderIfAbsent=true&apiKey=151c931d8a0e4ce6ac7d5b7ceb0c67c4" alt="Rating star icon" class="object-contain shrink-0 w-6 aspect-square" />
                      <p class="grow shrink self-start w-[135px]">{{ avg_skill }} Average Rating</p>
                    </div>
                    <p class="z-0 self-stretch mt-5 text-base tracking-normal leading-relaxed">{{ group.play_type }}</p>
                    <div class="flex z-0 flex-col items-center self-stretch px-16 mt-5 w-full text-sm font-bold tracking-normal leading-6 text-center text-white">
                      <div class="flex gap-8 items-center w-[98px]">
                        {% if group in user.groups%}
                        {% if user.id != group.owner.id %}
                        <form action="/groups/{{ group.id }}/join" method="post">
                        <button class="flex justify-center text-center self-stretch my-auto w-[98px] overflow-hidden gap-2 px-3 py-2 rounded-md bg-neutral-800 bg-dark-green">
                          Join Group
                        </button>
                    </form>
                    {% else %}
                    <a href="/groups/{{group.id}}/edit">
                        <p class="flex justify-center text-center self-stretch my-auto w-[98px] overflow-hidden gap-2 px-3 py-2 rounded-md bg-neutral-800 bg-dark-green">Edit Group</p>
                    </a>
                    {% endif %}
                    {% endif %}
                      </div>
                    </div>
                  </article>
                </main>
                <section class="flex items-center justify-center gap-2.5 self-stretch py-4 text-2xl tracking-tight leading-none whitespace-nowrap bg-light-green border border-solid shadow-sm border-gray-600 border-opacity-10">
                  <h3>Description</h3>
                </section>
                <section class="flex flex-col justify-center px-9 py-4 w-full border-b border-gray-600 border-opacity-10">
                  <p class="text-base tracking-normal leading-5">
                    {{ group.description }}
                  </p>
                  <div class="flex flex-row mt-5 max-w-full w-full pr-8">
                    <div class="flex justify-center gap-3 items-center w-full">
                      <img loading="lazy" src="{{ group.owner.profile_image }}" alt="Group owner profile picture" class="object-contain shrink-0 self-stretch my-auto aspect-square w-[35px]" />
                      <div class="flex flex-col">
                      <p class="self-stretch my-auto text-sm">{{ group.owner.first_name }} {{ group.owner.last_name }}</p>
                      <p class="self-stretch my-auto text-xs tracking-normal leading-loose">Group Owner</p>
                    </div>
                </div>
                  </div>
                </section>
            {% endblock %}
            {% block user_img_src %}{{ user.profile_image }}{% endblock %}