{% extends 'base-nav.html' %}
{% block content %}

<section class="flex overflow-hidden flex-col mx-auto w-full bg-white pb-[100px] pt-[100px]">
    <!-- TOP NAV  -->
    <header class="fixed top-0 left-0 right-0 flex overflow-hidden gap-5 justify-between items-end px-5 py-6 w-full text-2xl text-center text-white whitespace-nowrap bg-dark-green h-[100px] z-10">
        <a href="/groups">
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/301a99352172e443598727e0754e538d0a6a1a6d1ef532292992e083a9c04209?apiKey=151c931d8a0e4ce6ac7d5b7ceb0c67c4&&apiKey=151c931d8a0e4ce6ac7d5b7ceb0c67c4" class="object-contain shrink-0 aspect-square w-[35px]" alt="PicklePal logo" />
          </a> 
        <h1 class="w-[120px]">Groups</h1>
      <div class="flex shrink-0 h-[30px] w-[30px]"></div>
    </header>
    
    <!-- SEARCH FIELD  -->
    <div class="flex flex-col pr-16 pl-5 mt-5 w-full">
    <form action="/groups/list" method="get">
        <div class="flex gap-3">
          <img loading="lazy" src="/static/images/icon-search.png" alt="" class="object-contain shrink-0 my-auto aspect-square w-[30px]" />
          <div class="flex flex-col grow shrink-0 basis-0 w-fit">
            <label for="group-search-input" class="sr-only">Search</label>
            <input id="group-search-input" name="group-q" type="text" placeholder="Search groups" class="flex mt-1 w-full bg-white min-h-[24px] border-b border-input-gray p-1" />
          </div>
        </div>
    </form>
</div>
    <!-- MESSAGE BLOCKS  -->
     <main>
        {% for group in groups %}
    <article class="flex flex-col justify-center items-start px-5 py-3 mt-5 w-full min-h-[117px] text-neutral-800 border-b border-light-gray">
        <a href="/groups/{{ group.id }}">
        <div class="flex items-center w-full">
          <div class="flex gap-3 flex-grow">
              <img loading="lazy" src="{{group.owner.profile_image}}" alt="Profile picture of picklePal" class="object-cover rounded-full shrink-0 aspect-square w-[50px] h-[50px]" />
            <div class="flex flex-col my-auto">
              <h2 class="text-xl">{{ group.name }}</h2>
              <p class="mt-2 text-sm">{{ group.owner.city }}</p>
            </div>
          </div>
        </div>
        <div class="flex gap-2.5 mt-2.5 max-w-full text-base tracking-normal leading-relaxed w-full items-center">
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/4472064661d4d432e1a1a509ff757948c4f7fb489ea860620033c22561b29090?apiKey=151c931d8a0e4ce6ac7d5b7ceb0c67c4&&apiKey=151c931d8a0e4ce6ac7d5b7ceb0c67c4" alt="" class="object-contain shrink-0 w-6 aspect-square" />
          <p class="my-auto">{{ group.memberships|length }} members</p>
        </div>
    </a>
      </article>
      {% endfor %}
    </main>
{% endblock %}

{% block user_img_src %}
{{ user.profile_image }}
{% endblock %}
</section>
