{% extends 'base.html' %}
{% block content %}
{% if g.user.id == user.id %}
<div id="profile-page" class="container">
  <div id="profile-landing-container">
    <img src="{{ user.profile_image }}" alt="Profile Photo" id="profile-picture"">
    <div id="profile-friends-container">
      <p><a href="">Friends</a></p>
    </div>
    <h2 id="profile-username" class="profile-details">@{{ user.username }} <a href=""><i class="fa-solid fa-message"></i></a></h2>
    <h3 id="profile-fullname">{{ user.full_name.capitalize() }}</h3>
    <div id="profile-details-container">
      <ul>
        <li id="profile-user-location" class="profile-details"><i class="fas fa-map-pin"></i> {{ user.city }}, {{ user.state }}</li>
        <li class="profile-details">Skill Level: {{ user.skill }}</li>
      </ul>
    </div>
    <div>
      <ul id="previous-games">
        <li>PREVIOUS GAMES</li>
      </ul>
    </div>
  </div>

  <aside id="social-landing-container">
    <div id="personal-social-feed">
      <h2 id="make-a-post" class="text-center">Make a Post</h2>
      <form method="POST" id="post-form">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{ field(placeholder=field.label.text) }}
        {% endfor %}

        <button id="post-btn" type="submit">Submit Post</button>
      </form>
      <ul>
        {% for post in posts %}
        <div id="post-card">
          <img src="{{ post.user.profile_image }}" alt="user image" class="post-user-img">
        <li><strong>@{{ post.user.username }}</strong></li>
        <li class="post-content">{{ post.content }}</li>
        <li class="post-content"><small>{{ post.timestamp.strftime('%B %d, %Y %H:%M') }}</small></li>
        </div>
        {% endfor %}
      </ul>
    </div>
  </aside>
</div>

{% else %}
<div id="profile-page" class="container">
  <div id="profile-landing-container">
    <img src="{{ user.profile_image }}" alt="Profile Photo" id="profile-picture" style="width: 200px; border-radius: 50%;">
    <div id="profile-friends-container">
      <p><a href="">Friends</a></p>
    </div>
    <h2 id="profile-username" class="profile-details">@{{ user.username }} <a href=""><i class="fa-solid fa-message"></i></a></h2>
    <h3 id="profile-fullname">{{ user.full_name.capitalize() }}</h3>
    <div id="profile-details-container">
      <ul>
        <li id="profile-user-location" class="profile-details"><i class="fas fa-map-pin"></i> {{ user.city }}, {{ user.state }}</li>
        <li class="profile-details">Skill Level: {{ user.skill }}</li>
      </ul>
    </div>
    <div>
      <ul id="previous-games">
        <li>PREVIOUS GAMES</li>
      </ul>
    </div>
  </div>

  <aside id="social-landing-container">
    <div id="personal-social-feed">
      <ul>
        {% for post in posts %}
        <div id="post-card">
          <img src="{{ post.user.profile_image }}" alt="user image" class="post-user-img">
        <li><strong>@{{ post.user.username }}</strong></li>
        <li class="post-content">{{ post.content }}</li>
        <li class="post-content"><small>{{ post.timestamp.strftime('%B %d, %Y %H:%M') }}</small></li>
        </div>
        {% endfor %}
      </ul>
    </div>
  </aside>
</div>
{% endif %}
{% endblock %}
