{% extends 'base.html' %} {% block content %}
<section
  class="flex overflow-hidden flex-col items-center pb-40 mx-auto w-full bg-white pb-[100px] pt-[100px]"
>
  <header
    class="fixed top-0 left-0 right-0 flex overflow-hidden gap-5 justify-between items-end px-5 py-6 w-full text-2xl text-center text-white whitespace-nowrap bg-dark-green h-[100px] z-10"
  >
    <div></div>
    <h1 class="w-[120px]">picklePal</h1>
    <div></div>
  </header>
  <main
    class="flex flex-col justify-center mt-12 w-full max-w-xs text-sm font-semibold tracking-normal leading-none text-neutral-800"
  >
    <form id="login-form" method="POST">
      {{ form.hidden_tag() }}
      <!-- FLASH MESSAGES  -->
      {% with messages = get_flashed_messages() %} {% if messages %}
      <div class="flex flex-col items-center mb-4">
        {% for message in messages %}
        <div
          class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-2 w-full text-center"
          role="alert"
        >
          {{ message }}
        </div>
        {% endfor %}
      </div>
      {% endif %} {% endwith %}
      <!-- FORM CONTENT  -->
      {% for field in form %} {% if field.widget.input_type != 'hidden' %}
      <div class="flex flex-col w-full whitespace-nowrap mb-6">
        {{ field.label(class_="flex-1 shrink gap-2.5 w-full") }} {{
        field(class_="flex mt-2 w-full bg-white rounded-md min-h-[48px] border
        border-input-gray p-3", placeholder=field.label.text) }} {% for error in
        field.errors %}
        <span class="text-red-500">{{ error }}</span>
        {% endfor %}
      </div>
      {% endif %} {% endfor %}
      <div class="flex flex-col mt-10 mb-2 items-center justify-center">
        <button
          id="login-btn"
          type="submit"
          class="inline-flex items-center justify-center gap-2 px-3.5 py-2.5 text-2xl font-bold tracking-tight leading-none text-white whitespace-nowrap rounded-md bg-green-btn"
        >
          Log in
        </button>
        <p class="text-center mt-2 text-lg">or</p>
      </div>
    </form>
    <!-- DEMO BUTTON FORM  -->
    <form action="/login/demo" method="POST">
      {{ form.hidden_tag() }}
      <div class="flex flex-col items-center justify-center">
        <button
          type="submit"
          class="flex items-center justify-center gap-2 px-3.5 py-2.5 text-2xl font-bold tracking-tight leading-none text-white whitespace-nowrap rounded-md bg-green-btn"
        >
          Demo
        </button>
        <p class="text-center text-xs text-gray-600 mt-2 font-light">
          (try out the app with a demo account)
        </p>
      </div>
    </form>
    <footer
      class="mt-4 text-base font-bold tracking-normal leading-6 text-center text-neutral-800"
    >
      <p>Don't Have An Account?</p>
      <a href="/register" class="text-xs font-light">Register Here</a>
    </footer>
  </main>
</section>
{% endblock %}
