{% extends 'base.html' %}
{% block title %}<title>Login</title>{% endblock %}
{% block content %}
<div class="page-container">
    <div class="form-container">
      <h1 class="">Login</h1>
      <form method="POST" id="login-form">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
          {{ field.label }}<br>{{ field(placeholder=field.label.text) }}
          {% for error in field.errors %}
          <span class="text-danger">{{ error }}</span>
        {% endfor %}<br>
        {% endfor %}
        <p><small>Don't have an account? <a href="/register">Register here</a></small></p>
        <button id="login-btn">Login</button>
      </form>
    </div>
</div>
{% endblock %}