    {% extends 'base.html' %}
    {% block title %}Register User{% endblock %}
    {% block content %}
    <section class="flex overflow-hidden flex-col items-center pb-40 mx-auto w-full bg-white pb-[100px] pt-[100px]">
      <header class="fixed top-0 left-0 right-0 flex overflow-hidden gap-5 justify-between items-end px-5 py-6 w-full text-2xl text-center text-white whitespace-nowrap bg-dark-green h-[100px] z-10">
          <div></div>
          <h1 class="w-[120px]">picklePal</h1>
          <div></div>
      </header>
        <main class="flex flex-col justify-center mt-12 w-full max-w-xs text-sm font-semibold tracking-normal leading-none text-neutral-800">
          <div class="flex justify-center mb-5">
            <h1 class="text-2xl font-bold whitespace-nowrap">Create An Account</h1>
        </div>
          <form id="register-form-p1" method="POST">
            {{ form.hidden_tag() }}

            {% for field in form %}
                {% if field.widget.input_type != 'hidden' %}
                    <div class="flex flex-col w-full whitespace-nowrap mb-10">
                        {{ field.label(class_="flex-1 shrink gap-2.5 w-full") }}
                        {{ field(class_="flex mt-2 w-full bg-white rounded-md min-h-[48px] border border-input-gray p-3", placeholder=field.label.text) }}
                        {% for error in field.errors %}
                            <span class="text-red-500">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
            <div class="flex justify-center mt-10">
                <button id="register-btn" type="submit" class="inline-flex items-center justify-center gap-2 px-3.5 py-2.5 text-2xl font-bold tracking-tight leading-none text-white whitespace-nowrap rounded-md bg-green-btn">
                  Register
                </button>
              </div>             
          </form>
        </main>
        <footer class="mt-5 text-base font-bold tracking-normal leading-6 text-center text-neutral-800">
          <p>Have an account?</p>
          <a href="/login" class="text-xs font-light">Login Here</a>
        </footer>
      </section>
      {% endblock %}