{% extends 'base.html' %}

{% block content %}
<div id="user-list-box">
    <div class="user-list-container">
        {% for user in users %}
        <div class="user-list">
            <img src="{{ user.profile_image }}" alt="Profile Photo" style="width: 200px; border-radius: 50%;" class="user-list-photos">
            <div class="user-friends">
                <p><a href="">Friends</a></p>
            </div>
            <h2 class="profile-details">@{{ user.username }} <a href=""><i class="fa-solid fa-message"></i></a></h2>
            <h3>{{ user.full_name.capitalize() }}</h3>
            <div class="user-details-container">
                <ul>
                    <li class="profile-details"><i class="fas fa-map-pin"></i> {{ user.city }}, {{ user.state }}</li>
                    <li class="profile-details">Skill Level: {{ user.skill }}</li>
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}